$primary-color: hsl(4, 100%, 67%);
$dark: hsl(234, 29%, 20%);
$chocal: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$roboto: 'Roboto',
sans-serif;
* {
    padding: 0;
    margin: 0;
    font-family: $roboto;
}

main {
    display: flex;
    flex-direction: column;
    #desktopImage {
        display: none;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    span {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.main {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.email-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 100%;
    h1 {
        font-size: x-small;
        align-self: self-start;
    }
    input {
        width: 100%;
        height: 40px;
        border: 1px solid $grey;
        border-radius: 5px;
    }
    input::placeholder {
        padding: 20px;
    }
}

button {
    min-width: 100%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    color: $white;
    font-size: small;
    font-weight: 700;
    background-color: $dark;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $white;
    section {
        display: flex;
        gap: 20px;
        flex-direction: column;
        max-width: 90%;
        img {
            width: 64px;
            height: 64px;
        }
        h1 {
            font-size: 5vh;
            color: $dark;
        }
        p {
            color: $dark;
        }
        button {
            margin-top: 250px;
        }
    }
}

$layout-breakpoint-small: 390px;
$layout-breakpoint-medium: 500px;
@media (min-width: $layout-breakpoint-small) {
    main {
        img {
            display: none;
        }
    }
}

@media (min-width: $layout-breakpoint-medium) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $chocal;
    }
    .modal {
        width: 30%;
        height: 30%;
        top: unset;
        left: unset;
        bottom: 300px;
        position: absolute;
        height: 60%;
        padding: 20px;
        border-radius: 20px;
        margin: 0 auto;
    }
    main {
        background-color: $white;
        border-radius: 10px;
        margin: 0 auto;
        padding: 20px;
        width: 50%;
        justify-content: space-around;
        flex-direction: row-reverse;
        #desktopImage {
            display: block;
            width: 40%;
        }
        .main {
            width: 40%;
            .list {
                img {
                    display: block;
                }
            }
        }
    }
}